.navBar {
  background-color: rgb(241, 234, 234);
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: large;
}

.logoDot {
  color: red;
}

.navItem {
  display: flex;
}

.navItem li {
  list-style: none;
  padding: 0 0.5rem;
}

.logout {
  background-color: blueviolet;
  border-radius: 3px;
  padding: 0 0.5rem;
  cursor: pointer;
}

@media screen and (max-width: 530px) {
  .navBar {
    display: flex;
    flex-direction: column;
  }
}
